body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #dbdbdb;
}

/*ANIMAÇÕES*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes zoom {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.10);
    }
}

@keyframes zoomOut {
    from {
        opacity: 1;
        transform: scale(1.10);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes slideDown {
    from {
        top: -80px;
    }
    to {
        top: 0;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%); /* Começa escondido abaixo da tela */
    }
    to {
        transform: translateY(0);
    }
}

@keyframes cascate {
    from {
        opacity: 0; /* Começa invisível */
        transform: translateY(-20px); /* Move para cima */
    }
    to {
        opacity: 1; /* Torna o elemento visível */
        transform: translateY(0); /* Volta à posição original */
    }
}

/**ESTILIZAÇÃO DA NAVBAR**/
#neubar {
    background: #f0f0f0;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
    animation: slideDown 0.75s ease-in-out forwards;
    opacity: 0.9;
}

@media only screen and (max-width: 767px) {
    #neubar .nav-item {
      margin-bottom: 15px !important; 
    }

    #products {
        transition: 0.5s;
        position: relative;
    }
    
    #products::after {
        border-radius: 10%;
        content: " ";
        width: 0% !important;
        height: 3px;
        background-color: #e44e13fa;
        position: absolute;
        left: 115px !important;
        bottom: 0 !important;
        transition: 0.5s ease-in-out;
    }
    
    #products:hover::after {
        width: 24.5% !important;
    }

    .footer-dark .item.text {
        margin-bottom: 0;
    }
      
    .hrcel {
        display: flex !important;
    }
  
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.hrcel {
    display: none;
}

.nav-item {
    animation: fadeIn 1.5s ease forwards;
    font-size: 18px;
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #e44e13fa, #e44e1394);
    box-shadow: 4px 4px 8px #c1b3acab, -4px -4px 8px #ffe9e000;
    color: white !important;
}

.nav-item .active:hover {
    color: black !important;
}

#neubar .nav-item {
    margin : auto 4px;
}

#neubar a {
    padding-left:12px;
    padding-right:12px;
}

#neubar .dropdown-menu {
    background : #f7f4f4;
    transition: 0.5s;
}

a.navbar-brand {
    animation: fadeIn 1.5s ease forwards;
}

#products {
    transition: 0.5s;
    position: relative;
}

#products::after {
    border-radius: 10%;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #e44e13fa;
    position: absolute;
    left: 10px;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

#products:hover::after {
    width: 80%;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(163, 163, 163);
    transition: 0.5s;
}

.box {
    opacity: 0;
}

.box:nth-child(1) {
    animation-delay: 0.2s;
}

.box:nth-child(2) {
    animation-delay: 0.4s;
}

.box:nth-child(3) {
    animation-delay: 0.6s;
}

.box:nth-child(4) {
    animation-delay: 0.8s;
}

.box:nth-child(5) {
    animation-delay: 1s;
}

/**SELETOR DE CIDADES**/
#cidade {
    color: black;
    background: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

#cidade:hover {
    color: rgb(163, 163, 163);
    transition: 0.5s;
}

#cidade:focus {
    color: black;
    transition: 0.5s;
}

#teste {
    position: relative;
}

@media only screen and (max-width: 767px) {
    #cidade {
        transform: translateY(20.5px);
    }
    
    #teste::after {
        border-radius: 10%;
        content: " ";
        width: 0%;
        height: 3px;
        background-color: #e44e13fa;
        position: absolute;
        left: 14px;
        top: 52px !important;
        transition: 0.5s ease-in-out;
    }
    
    #teste:hover::after {
        width: 87% !important;
    }

    #products::after {
        border-radius: 10%;
        content: " ";
        width: 0%;
        height: 3px;
        background-color: #e44e13fa;
        position: absolute;
        left: 10px !important;
        bottom: 0;
        transition: 0.5s ease-in-out;
    }
    
    #products:hover::after {
        width: 80% !important;
    }    
}

@media only screen and (max-width: 575px) {
    #cidade {
        transform: translateY(0);
    }

    #teste::after {
        left: 10% !important;
        top: 32px !important;
    }
    
    #teste:hover::after {
        width: 78% !important;
    }

    #products::after {
        left: 41% !important;
    }
    
    #products:hover::after {
        width: 18% !important;
    }    
}

#teste::after {
    border-radius: 10%;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #e44e13fa;
    position: absolute;
    left: 14px;
    top: 32.5px;
    transition: 0.5s ease-in-out;
}

#teste:hover::after {
    width: 78%;
}
/**SWITCH DE TEMA**/
#css-mode {
    cursor: pointer;
}

.main-title {
    font-size: 45px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

.image-container {
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%; /* Define a largura máxima do contêiner */
    height: 0; /* Inicialmente define a altura como 0 */
    padding-top: 75%; /* Proporção 4:3 (75% = (3/4)*100) */
    position: relative;
}

.image-mobile {
    width: 100%;
    height: 400px !important;
    object-fit: cover; /* Para manter a proporção 16:9 */
}

.image-container img {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Para manter a proporção 4:3 */
    object-position: center; /* Centraliza a área de foco */
}
  
/* Estilo para dispositivos móveis */

@media (max-width: 991px) {
    .image-desktop {
        display: none; /* Oculta a imagem no celular */
    }
    .image-mobile {
        width: 100%;
        height: 550px !important;
        object-fit: cover; /* Para manter a proporção 16:9 */
    }
}

@media (max-width: 767px) {
    .image-desktop {
        display: none; /* Oculta a imagem no celular */
    }
    .image-mobile {
        width: 100%;
        height: 48vw !important;
        object-fit: cover; /* Para manter a proporção 16:9 */
    }
}

@media (max-width: 600px) {
    .image-desktop {
        display: none; /* Oculta a imagem no celular */
    }
    .image-mobile {
        width: 100%;
        height: 60vw !important;
        object-fit: cover; /* Para manter a proporção 16:9 */
    }
}

.item {
    opacity: 0;
    animation-delay: 1.5s;
    animation: fadeIn 3s ease forwards;
}

/*ESTILIZAÇÃO DO MAPA*/
.maps {
    opacity: 0;
    transition: opacity 1.5s ease;
}

.maps:nth-child(1) {
    animation-delay: 0.4s;
}
.maps:nth-child(2) {
    animation-delay: 0.8s;
}

.animated {
    animation: slideUp 1.5s ease forwards;
    transition: 1.5s;
}

/*ESTILIZAÇÃO DO FOOTER*/
.footer-dark {
    padding: 50px 0;
    color: black;
    background-color: #f0f0f0;
}
  
.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}
  
.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}
  
.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;    
    font-size: 17px;
    font-family: 'Abel', sans-serif;
}
  
.footer-dark ul a:hover {
    opacity: 0.8;
}

.footer-dark .item.text {
    margin-bottom: 36px;
}


.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
}

.footer-dark .item.social > a {
    font-size: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.671);
    margin: 0 8px;
    color: black;
    transition: 0.5s;
    opacity: 0.75;
    border: 0.5px;
}

.footer-dark .item.social > a:hover {
    box-shadow: 0 0 0 1px rgba(255, 253, 253, 0.781);
    background-color: #2a2b38;
    color: white;
    transition: 0.5s;
}

.footer-dark .item.social > a:hover {
    opacity: 0.9;
}
  
.footer-dark .copyright {
    text-align: center;
    opacity: 0.5;
    font-size: 13px;
    margin-bottom: 0;
}

@media (max-width:991px) {
    .footer-dark .item.social {
      text-align: center;
      margin-top: 20px;
    }
}

i {
    margin-top: 8px;
}

.footer-dark h3 {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
}

#logo1 {
    transform: translateY(-20px);
}

#texto-logo {
    transform: translateY(-20px);
}

.about-title {
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 500 !important;
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
}

#about-list {
    list-style: none;
    padding-left: 0;
}

#about-list li {
    line-height: 30px;
}

#about-list i {
    color: #e44e13fa;
    margin-right: 15px;
}

.texto {
    text-align: justify;
    font-family: 'Kanit', sans-serif;
    color: black;
}

.img-fluid {
    max-width: 95%;
}


a:link,a:active,a:visited,a:hover{
	color:#3f51b5;
}

/*ESTILIZAÇÃO DA SESSÃO DE DEPOIMENTOS*/
.outerdiv {
	width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerdiv {
	transform: translateY(-1em);
	display: grid;
	grid-gap: 1.5rem;
	grid-template-rows: repeat(2,22rem);
	grid-template-columns: repeat(4,17rem);
}

.eachdiv {
	padding: 1rem 2rem;
    border-radius: 0.8rem;
    box-shadow: 5px 5px 20px #0000006b;
    opacity: 0;
    color: white;
}

.eachdiv:nth-child(1) {
    animation-delay: 0.2s;
}

.eachdiv:nth-child(2) {
    animation-delay: 0.4s;
}

.eachdiv:nth-child(3) {
    animation-delay: 0.6s;
}

.eachdiv:nth-child(4) {
    animation-delay: 0.8s;
}

.eachdiv:nth-child(5) {
    animation-delay: 1s;
}

.eachdiv:hover {
    transition: 0.5s;
    transform: scale(1.15);
}

.triggered {
    animation: cascate 0.5s forwards;
}

.zoom {
    opacity: 1;
}

.zoom:hover {
    transition: 0.5s;
    animation: zoom 0.3s ease-out forwards;
}

.zoomout {
    animation-delay: 0ms !important;
    opacity: 1;
    animation: zoomOut 0.3s ease-out forwards;
}

.div1 {
	background: #733FC8;
    grid-column: 1/3;
    grid-row: 1/2;
    background-image: url(https://raw.githubusercontent.com/RahulSahOfficial/testimonials_grid_section/5532c958b7d3c9b910a216b198fdd21c73112d84/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position-x: 25rem;
}

.div2 {
	background:#e44e13fa;
    grid-column: 3/4;
    grid-row: 1/2;
}

.div3 {
	background: #a7ffbda3;
    grid-column: 4/5;
    grid-row: 1/3;
    color: black;
}

.div4 {
	background: white;
	grid-column: 1/2;
    grid-row: 2/3;
    color: black;
}

.div5 {
	background: #18202D;
	grid-column: 2/4;
    grid-row: 2/3;
}

.userdetails {
	display: flex;
}

.imgbox {
	margin-right: 1rem;
}

.imgbox img {
	border-radius: 50%;
	width: 2rem;
	border: 2px solid #cec5c5;
}

.detbox {
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.detbox p {
	margin: 0;
}

.detbox .name {
	color: hsl(0, 0%, 81%);
    font-size: 0.9rem;
    margin-bottom: 0.1rem;
    font-weight: 600;
}

.detbox .name.dark {
	color: #49505A;
}

.detbox .designation {
	color: hsl(0, 0%, 81%);
    opacity: 50%;
    font-size: 0.8rem;
}

.detbox .designation.dark {
	color: #49505A;
}

.review h4 {
	font-size: 1.4rem;
	color: #F3DEFF;
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 0.8rem;
}

.review.dark h4 {
	color:#4B5258;
}

.review p {
	font-size: 0.95rem;
    color: #F3DEFF;
    font-weight: 500;
    opacity: 50%;
    line-height: 1.5;
}

.review.dark p {
	color: #0e0e0e;
}

.attribution {
	font-size: 1rem;
    line-height: 1.5;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    text-align: right;
}

.attribution a {
	text-decoration: none;
}

@media only screen and (max-width: 1100px) {
    .outerdiv {
        height: 65vw;
    }
    .innerdiv {
		transform: scale(0.8) translateY(-30px);
	}
}


@media only screen and (max-width: 1000px) {
    .outerdiv {
        height: 65vw;
    }
    .innerdiv {
		transform: scale(0.7) translateY(-30px);
	}
}

@media only screen and (max-width: 800px) {
    .outerdiv {
        height: 60vw;
    }

	.innerdiv {
		transform: scale(0.6) translateY(-30px);
	}
}

@media only screen and (max-width: 650px) {
    .outerdiv {
        height: 60vw;
    }

	.innerdiv {
		transform: scale(0.5) translateY(-30px);
	}
}

@media only screen and (max-width: 600px) {
	.div1 {
		background-position-x: 10rem;
	}

    .outerdiv {
        height: auto;
    }

	.innerdiv {
		display: flex; 
		flex-direction: column;
		transform: scale(1);
		margin: 2rem;
		margin-bottom: 5rem;
	}

	.attribution {
		position: relative;
	}
}

/*ESTILIZAÇÃO DO CARROSSEL*/
*, *::before, *::after {
    box-sizing: border-box;
  }

.carousel {
    width: 100vw;
    height: 85vh;
    animation: slideDown 0.75s ease-in-out forwards;
    position: relative;
}
  
.carousel > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
  
.slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: 400ms opacity ease-in-out;
    transition-delay: 200ms;
}

.slide-text {
    position: absolute;
    bottom: 40%;
    top: 40%;
    left: 40%;
    right: 40%; 
    color: white;
    font-size: 100%; 
    padding: 1vw;
}

.slide > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
  
.slide[data-active] {
    opacity: 1;
    z-index: 1;
    transition-delay: 0ms;
}
  
.carousel-button {
    position: absolute;
    z-index: 2;
    background: none;
    border: none;
    font-size: 4rem;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s;
    color: rgba(255, 255, 255, .5);
    cursor: pointer;
    border-radius: .25rem;
    padding: 0 .5rem;
    background-color: rgba(0, 0, 0, .1);
    filter: invert(1);
}
  
.carousel-button:hover,
.carousel-button:focus {
    background-color: rgba(0, 0, 0, .2);
    opacity: 0.4;
}
  
.carousel-button:focus {
    outline: 1px solid black;
}
  
.carousel-button.prev {
    background: none;
    outline: none;
    left: 1rem;
}
  
.carousel-button.next {
    background: none;
    outline: none;
    right: 1rem;
}