body {
    font-family: 'Titillium Web', sans-serif;
    background-color: #1f2029;
    overflow-x: hidden;
}

/**ESTILIZAÇÃO DA NAVBAR**/
#neubar {
    background-color: #2a2b38;
    box-shadow: 4px 6px 12px rgba(140, 131, 131, 0.17);
}

@media (max-width: 767px) {
    #neubar .nav-item {
      margin-bottom: 15px !important; 
    }
}

.nav-item {
    font-size: 18px;
}

.nav-item .active {
    border-radius: 6px;
    color: white !important;
    background: linear-gradient(145deg, #a7ffbda3, #a7ffbde5);
    box-shadow:  4px 4px 8px #d6d9d61c, -4px -4px 8px #24242400;
}

.nav-item .active:hover {
    transition: 0.5s;
    color: rgba(22, 20, 20) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.856);
}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {
    padding-left: 12px;
    padding-right: 12px;
}

a.navbar-brand {
    color: #454545
}

#products {
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.856);
    position: relative;
}

#products:hover {
    transition: 0.5s;
    color: rgba(148, 141, 141, 0.712) !important;
}

#products::after {
    border-radius: 10%;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #a7ffbda3;
    position: absolute;
    left: 10;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

#products:hover::after {
    width: 80%;
}

/**SELETOR DE CIDADES**/
#cidade {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.856);
}

#cidade:hover {
    color: rgba(148, 141, 141, 0.712);
    transition: 0.5s;
}

#cidade:focus {
    color: rgba(0, 0, 0, 0.856);
    transition: 0.5s;
}

#teste {
    position: relative;
}

#teste::after {
    border-radius: 10%;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #a7ffbda3;
    position: absolute;
    left: 14;
    top: 32.5;
    transition: 0.5s ease-in-out;
}

#teste:hover::after {
    width: 80%;
}

/**SWITCH DE TEMA**/
#css-mode {
    cursor: pointer;
}

/**SLIDER**/
#mainSlider {
    font-family: 'Oswald', sans-serif;
}

#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 4vw;
    margin-bottom: 1em;
}

.tituloSlider {
    color: black;
}

#mainSlider .carousel-caption p {
    font-size: 3vw;
    font-weight: 300;
    margin-bottom: 100px;
    color: black;
}

.carousel-indicators .active {
    background-color: #efc701;
}

.main-title {
    color: white;
    font-size: 45px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}

hr {
    border-top: 0.5px solid rgba(15, 15, 15, 0.425);
}