@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1f2029;
    overflow-x: hidden;
}

/**ESTILIZAÇÃO DA NAVBAR**/
#neubar {
    background-color: #2a2b38;
    box-shadow: 4px 6px 12px rgba(140, 131, 131, 0.17);
}

@media (max-width: 767px) {
    #neubar .nav-item {
      margin-bottom: 15px !important; 
    }
}

.nav-item .active {
    border-radius: 6px;
    color: white !important;
    background: linear-gradient(145deg, #a7ffbda3, #a7ffbde5);
    box-shadow:  4px 4px 8px #d6d9d61c, -4px -4px 8px #24242400;
}

.nav-item .active:hover {
    color: rgba(22, 20, 20) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.856);
}

#neubar .nav-item {
    margin: auto 4px;
}

#neubar a {
    padding-left: 12px;
    padding-right: 12px;
}

a.navbar-brand {
    color: #454545
}

#products {
    color: rgba(255, 255, 255, 0.856);
}

#products:hover {
    transition: 0.2s;
    color: rgba(148, 141, 141, 0.712) !important;
}

/**SELETOR DE CIDADES**/
#cidade {
    background: none;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    color: rgba(255, 255, 255, 0.856);
}

#cidade:hover {
    color: rgba(148, 141, 141, 0.712);
    transition: 0.2s;
}

#cidade:focus {
    color: rgba(255, 255, 255, 0.856);
    transition: 0.2s;
}

/**SWITCH DE TEMA**/
#css-mode {
    cursor: pointer;
}

/**SLIDER**/
#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 4vw;
    margin-bottom: 1em;
}

#mainSlider .carousel-caption p {
    font-size: 3vw;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

.carousel-indicators .active {
    background-color: #efc701;
}

.carousel-item h2 {
  text-shadow: 3px 3px black;
}

.carousel-item p {
  text-shadow: 3px 3px black;
}

.imageminicio {
    width: 100%;
    height: 100%;   
}