body {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background-color: #dbdbdb;
}

/**ESTILIZAÇÃO DA NAVBAR**/
#neubar {
    background: #f0f0f0;
    box-shadow: 4px 6px 12px rgba(0,0,0,0.4);
    opacity: 0.9;
}

@media (max-width: 767px) {
    #neubar .nav-item {
      margin-bottom: 15px !important; 
    }

    #products {
        transition: 0.5s;
        position: relative;
    }
    
    #products::after {
        border-radius: 10%;
        content: " ";
        width: 0% !important;
        height: 3px;
        background-color: #e44e13fa;
        position: absolute;
        left: 145 !important;
        bottom: 0 !important;
        transition: 0.5s ease-in-out;
    }
    
    #products:hover::after {
        width: 21.5% !important;
    }
}

.nav-item {
    font-size: 18px;
}

.nav-item .active {
    border-radius: 6px;
    background: linear-gradient(145deg, #e44e13fa, #e44e1394);
    box-shadow: 4px 4px 8px #c1b3acab, -4px -4px 8px #ffe9e000;
    color: white !important;
}

.nav-item .active:hover {
    color: black !important;
}

#neubar .nav-item {
    margin : auto 4px;
}

#neubar a {
    padding-left:12px;
    padding-right:12px;
}

#neubar .dropdown-menu {
    background : #f7f4f4;
    transition: 0.5s;
}

#products {
    transition: 0.5s;
    position: relative;
}

#products::after {
    border-radius: 10%;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #e44e13fa;
    position: absolute;
    left: 10;
    bottom: 0;
    transition: 0.5s ease-in-out;
}

#products:hover::after {
    width: 80%;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(163, 163, 163);
    transition: 0.5s;
}

/**SELETOR DE CIDADES**/
#cidade {
    color: black;
    background: none;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

#cidade:hover {
    color: rgb(163, 163, 163);
    transition: 0.5s;
}

#cidade:focus {
    color: black;
    transition: 0.5s;
}

#teste {
    position: relative;
}

#teste::after {
    border-radius: 10%;
    content: " ";
    width: 0%;
    height: 3px;
    background-color: #e44e13fa;
    position: absolute;
    left: 14;
    top: 32.5;
    transition: 0.5s ease-in-out;
}

#teste:hover::after {
    width: 78%;
}
/**SWITCH DE TEMA**/
#css-mode {
    cursor: pointer;
}

/**SLIDER**/
#mainSlider .carousel-caption {
    top: 30%;
}

#mainSlider .carousel-caption h2 {
    font-size: 4vw;
    margin-bottom: 1em;
}

#mainSlider .carousel-caption p {
    font-size: 3vw;
    font-weight: 300;
    margin-bottom: 100px;
    color: #FFF;
}

.carousel-indicators .active {
    background-color: #efc701;
}

.main-title {
    font-size: 45px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}